@import '~antd/dist/antd.css';

.logo {
  float: left;
  width: 60px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.ant-btn-link {
  color: black;
}


.navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
/* .logo { */
/*   height: 32px; */
/*   margin-left: 1rem; */
/* } */
